name: Cache Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: cache-9eaa041
          restore-keys: |
            cache-9eaa041

      - name: prime-cache-9eaa041
        run: |
          echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
