name: Simple Action

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 21f1004027@ds.study.iitm.ac.in
        run: echo "Hello, world!"
